/****************************
 * Global Styles
 * ****************************/
body {
  background-color: #494949;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  width: 100%;
}

#black-bars {
  width: 1200px;
  background: #0B0B0B;
  height: 100vh;
  display: block;
  z-index: -1;
  position: fixed;
  margin: 0 auto;
  left: 50%;
  top: 90px;
  margin-left: -600px;
}

/****************************
 * Nav Styles
 * ****************************/
nav {
  background: #fff;
  border-top: 1px solid #d2d2d2;
  box-shadow: 0 1px 0 #d2d2d2;
  height: 39px;
  position: fixed;
  width: 100%;
  z-index: 9999999999999;
}
nav ul {
  margin: 0 auto;
  list-style: none;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
}
@media only screen and (min-width: 1250px) {
  nav ul {
    width: 1180px;
  }
}
nav ul li {
  display: inline;
  padding: 13px 13px;
  cursor: pointer;
  margin: 0 !important;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 40px;
  letter-spacing: 0px;
  font-weight: bold;
}
nav ul .nav-logo img {
  width: 152px;
  height: auto;
}
nav ul .icon img {
  width: 18px;
  height: auto;
}
nav ul .hide {
  display: none;
}
nav ul .catagory {
  border-top: 1px solid #d2d2d2;
}
nav ul .catagory:hover {
  border-top-width: 2px;
  padding-top: 12px;
}
nav ul .news {
  color: #1877b6;
  border-top-width: 2px;
  padding-top: 12px;
  border-top-color: #1877b6;
}
nav ul .sports {
  border-top-color: #9e1d0a;
}
nav ul .life {
  border-top-color: #741784;
}
nav ul .money {
  border-top-color: #137f39;
}
nav ul .tech {
  border-top-color: #c15709;
}
nav ul .travel {
  border-top-color: #119e9e;
}
nav ul .opinion {
  border-top-color: #666666;
}
nav ul .weather {
  border-top-color: #ffc000;
}
nav ul .search {
  padding-left: 111px;
}

/*    .icon
 *    &:hover
 *      background: #eee */
/****************************
 * Article Styles
 * ****************************/
article {
  background: #fafafa;
  margin: 0 auto;
  position: relative;
  top: 40px;
  width: 950px;
  padding: 20px 30px 30px 30px;
  font-family: Arial, sans-serif;
}

/****************************
 * Article Header
 * ****************************/
#article-header {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0px;
}
#article-header #headline {
  font-size: 32px;
  line-height: 34px;
  color: #333;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
#article-header #publish-data {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin: 20px 0 23px 0;
  padding: 10px;
}
#article-header #publish-data #author {
  display: inline;
  color: #1a95d2;
  font-weight: bold;
  cursor: pointer;
}
#article-header #publish-data #article-org {
  display: inline;
  font-weight: bold;
  padding-right: 20px;
}
#article-header #publish-data #pub-date {
  display: inline;
  color: #999999;
}
#article-header #publish-data #updated-date {
  display: inline;
  font-weight: bold;
  color: #999999;
}

/****************************
 * Article Social Icons
 * ****************************/
#article-social {
  display: inline;
  list-style: none;
  text-align: left;
}
#article-social li {
  display: inline-block;
  border-right: 1px solid #d6d6d6;
  height: 28px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  color: #999;
  font-size: 8px;
  font-weight: bold;
  cursor: pointer;
}
#article-social li:last-child {
  border-right: 0px solid #d6d6d6;
}
#article-social li:hover {
  color: #000;
}
#article-social li.facebook:hover {
  color: #4863A8;
}
#article-social li.twitter:hover {
  color: #1EB1E8;
}
#article-social li.linkedin:hover {
  color: #5B83BB;
}
#article-social li img {
  display: block;
  margin: 0 auto;
  width: 17px;
  height: auto;
  position: relative;
  vertical-align: middle;
  top: -2px;
}

#article-social.bottom ul {
  padding-left: 0;
  margin-top: 50px;
}

/****************************
 * Article Content
 * ****************************/
#article-image {
  width: 180px;
  display: inline-block;
  float: left;
  margin: 0 30px 0 0;
}
#article-image img {
  width: 180px;
  height: auto;
  background: #fff;
  box-shadow: 1px 1px 5px #c8c8c8;
  padding: 3px;
}
#article-image p {
  font-size: 11px;
  font-style: italic;
  line-height: 16px;
  color: #646464;
  padding-top: 6px;
}

#article-text {
  font: 14px/22px arial, sans-serif;
  display: inline;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #333;
}

/*# sourceMappingURL=styles.css.map */
