// Global Variables and mixins

$gray: #d2d2d2

$news: rgb(24, 119, 182)
$sports: rgb(158, 29, 10)
$life: rgb(116, 23, 132)
$money: rgb(19, 127, 57)
$tech: rgb(193, 87, 9)
$travel: rgb(17, 158, 158)
$opinion: rgb(102,102,102)
$weather: #ffc000

$facebook: #4863A8
$twitter: #1EB1E8
$linkedin: #5B83BB

=border-radius($radius)
    border-radius: $radius
    -webkit-border-radius: $radius
    -ms-border-radius: $radius
    -moz-border-radius: $radius
    -o-border-radius: $radius

/****************************
  Global Styles
  ****************************/
body
  background-color: #494949
  text-rendering: geometricPrecision
  -webkit-font-smoothing: antialiased

html, body
  height: 100%
  width: 100%

#black-bars
  width: 1200px
  background: #0B0B0B
  height: 100vh
  display: block
  z-index: -1
  position: fixed
  margin: 0 auto
  left: 50%
  top: 210px
  margin-left: -600px


/****************************
  Nav Styles
  ****************************/
nav
  background: #fff
  border-top: 1px solid $gray
  box-shadow: 0 1px 0 rgba(210,210,210,1)
  position: absolute
  width: 100%
  z-index: 9999999999999
  #nav-wrapper
    border-top: 1px solid $gray
    padding-top: 3px
  #masthead
    width: 1080px
    margin-left: auto
    margin-right: auto
    h4
      cursor: pointer
      display: inline-block
      font-family: 'Montserrat', sans-serif
      font-size: 13px
      line-height: 15px
      color: #141414
      font-weight: 400
      position: absolute
      padding-top: 30px
      right: calc(50% - 600px)
      span
        text-transform: uppercase
        font-size: 16px
        color: #00a0f8
        font-weight: bold
    img
      height: 80px
      width: auto
    @media only screen and (min-width: 1250px)
      width: 1180px
  ul
    padding-left: 0
    position: relative
    top: -2px
    height: 39px
    margin: 0 auto
    list-style: none
    margin-left: auto
    margin-right: auto
    font-size: 0
    width: 1080px
    @media only screen and (min-width: 1250px)
      width: 1180px
    &#second
      display: inline !important
    li
      display: inline
      padding: 13px 13px
      cursor: pointer
      margin: 0 !important
      font-family: 'Montserrat', sans-serif
      text-transform: uppercase
      font-size: 10px
      line-height: 40px
      letter-spacing: 0px
      font-weight: 700
    .nav-logo
      img
        width: 152px
        height: auto
    .icon img
      width: 18px
      height: auto
    .hide
      display: none
    .catagory
      border-top: 1px solid $gray
      &:hover
        border-top-width: 2px
        padding-top: 12px
    .news
      color: $news
      border-top-width: 2px
      padding-top: 12px
      border-top-color: $news
    .sports
      border-top-color: $sports
    .life
      border-top-color: $life
    .money
      border-top-color: $money
    .tech
      border-top-color: $tech
    .travel
      border-top-color: $travel
    .opinion
      border-top-color: $opinion
    .weather
      border-top-color: $weather
    .search
      padding-left: 80px
/*    .icon
      &:hover
        background: #eee */

/****************************
  Social Sidebar Styles
  ****************************/
#social-sidebar
  list-style: none
  position: fixed
  height: 100%
  background: #dadcde
  box-shadow: inset -2px 0 4px -1px rgba(0,0,0,.2)
  width: 40px
  top: 0
  padding-top: 120px
  margin: 0 auto
  left: calc(50% - 475px - 40px)
  top: 120px
  ul
    list-style: none
    padding-left: 0
    li
      text-align: center
      padding: 11px 0
      border-top: 1px solid #bdbdbd
      cursor: pointer
      &:hover
        background-color: #E8E8E8
      &:last-child
        border-bottom: 1px solid #bdbdbd
      img
        height: 18px
  ul.print
    height: 100%
    .space
      height: calc(100% - 300px)
      border-top: 0px solid #bdbdbd
      &:hover
        background-color: #dadcde
        cursor: auto

/****************************
  Article Styles
  ****************************/

article
  background: #fafafa
  margin: 0 auto
  position: relative
  top: 120px
  width: 950px
  padding: 20px 30px 30px 30px
  font-family: Arial, sans-serif

/****************************
  Article Header
  ****************************/
#article-header
  font-size: 12px
  line-height: 14px
  letter-spacing: 0px
  #headline
    font-size: 32px
    line-height: 34px
    color: #333
    font-family: Helvetica, sans-serif
    font-weight: bold
  #publish-data
    border: 1px solid #e6e6e6
    border-radius: 3px
    margin: 20px 0 23px 0
    padding: 10px
    #author
      display: inline
      color: #1a95d2
      font-weight: bold
      cursor: pointer
    #article-org
      display: inline
      font-weight: bold
      padding-right: 20px
    #pub-date
      display: inline
      color: #999999
    #updated-date
      display: inline
      font-weight: bold
      color: #999999

/****************************
  Article Social Icons
  ****************************/

#article-social
  display: inline
  list-style: none
  text-align: left
  li
    display: inline-block
    border-right: 1px solid #d6d6d6
    height: 28px
    padding: 0 10px
    text-align: center
    text-transform: uppercase
    color: #999
    font-size: 8px
    font-weight: bold
    cursor: pointer
    &:last-child
      border-right: 0px solid #d6d6d6
    &:hover
      color: #000
    &.facebook:hover
      color: $facebook
    &.twitter:hover
      color: $twitter
    &.linkedin:hover
      color: $linkedin
    img
      display: block
      margin: 0 auto
      width: 17px
      height: auto
      position: relative
      vertical-align: middle
      top: -2px

#article-social.bottom
  ul
    padding-left: 0
    margin-top: 50px

/****************************
  Article Content
  ****************************/

#article-image
  width: 180px
  display: inline-block
  float: left
  margin: 0 30px 0 0
  img
    width: 180px
    height: auto
    background: #fff
    box-shadow: 1px 1px 5px #c8c8c8
    padding: 3px
  p
    font-size: 11px
    font-style: italic
    line-height: 16px
    color: #646464
    padding-top: 6px

#article-text
  font: 14px/22px arial,sans-serif
  display: inline
  font-size: 14px
  line-height: 22px
  letter-spacing: 0px
  color: #333
