/****************************
 * Global Styles
 * ****************************/
body {
  background-color: #494949;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  width: 100%;
}

.masthead #black-bars {
  position: fixed;
  top: 120px;
}

#black-bars {
  width: 1200px;
  background: #0B0B0B;
  height: 100vh;
  display: block;
  z-index: -1;
  position: fixed;
  margin: 0 auto;
  left: 50%;
  top: 120px;
  margin-left: -600px;
}

body.usa-today ul.tennessean {
  display: none;
}

body.tennessean ul.usa-today {
  display: none;
}

/****************************
 * Nav Styles
 * ****************************/
.masthead .hide {
  display: inline;
}
.masthead .nav-logo {
  display: none;
}
.masthead nav {
  position: absolute;
}
.masthead nav ul {
  top: 0px;
}
.masthead #masthead {
  display: block !important;
}
.masthead #social-sidebar {
  position: absolute;
  top: 120px;
}
.masthead #black-bars {
  position: absolute;
  top: 200px;
}
.masthead #nav-wrapper {
  padding-top: 0px;
}

.masthead.tennessean nav ul {
  top: -2px;
}

nav {
  background: #fff;
  border-top: 1px solid #d2d2d2;
  box-shadow: 0 1px 0 #d2d2d2;
  position: fixed;
  width: 100%;
  z-index: 9999999999999;
}
nav #nav-wrapper {
  border-top: 1px solid #d2d2d2;
  padding-top: 0px;
  margin-top: -2px;
  padding-top: 0px;
}
nav #masthead {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
nav #masthead h4 {
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #141414;
  font-weight: 500;
  position: absolute;
  padding-top: 30px;
  right: calc(50% - 600px);
  text-align: center;
}
nav #masthead h4 span {
  text-transform: uppercase;
  font-size: 16px;
  color: #00a0f8;
  font-weight: bold;
}
nav #masthead img {
  height: 80px;
  width: auto;
}
@media only screen and (min-width: 1250px) {
  nav #masthead {
    width: 1180px;
  }
}
nav ul {
  padding-left: 0;
  position: relative;
  top: -2px;
  height: 39px;
  margin: 0 auto;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  width: 1080px;
}
@media only screen and (min-width: 1250px) {
  nav ul {
    width: 1180px;
  }
}
nav ul#second {
  display: inline !important;
}
nav ul li {
  display: inline;
  padding: 13px 13px;
  cursor: pointer;
  margin: 0 !important;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 40px;
  letter-spacing: 0px;
  font-weight: 900;
}
nav ul .nav-logo img {
  width: 152px;
  height: auto;
}
nav ul .icon img {
  width: 18px;
  height: auto;
}
nav ul .hide {
  display: none;
}
nav ul .catagory {
  border-top: 1px solid #d2d2d2;
}
nav ul .catagory:hover {
  border-top-width: 2px;
  padding-top: 12px;
}
nav ul .news {
  color: #1877b6;
  border-top-width: 2px;
  padding-top: 12px;
  border-top-color: #1877b6;
}
nav ul .home, nav ul .counties {
  border-top-color: #1877b6;
}
nav ul .sports {
  border-top-color: #9e1d0a;
}
nav ul .life {
  border-top-color: #741784;
}
nav ul .money, nav ul .business {
  border-top-color: #137f39;
}
nav ul .tech {
  border-top-color: #c15709;
}
nav ul .travel {
  border-top-color: #119e9e;
}
nav ul .opinion {
  border-top-color: #666666;
}
nav ul .weather {
  border-top-color: #ffc000;
}
nav ul .music, nav ul .civility, nav ul .politics, nav ul .obituaries {
  border-top-color: #004074;
}
nav ul .search {
  padding-left: 80px;
}
nav ul .subscribe, nav ul .sign-in {
  font-size: 14px;
  font-family: sans-serif;
  text-transform: capitalize;
}
nav ul .subscribe {
  color: #fff;
  background: #029BFF;
  padding-top: 10px;
}
nav ul .sign-in {
  border-width: 0px;
}

/****************************
 * Social Sidebar Styles
 * ****************************/
.masthead #social-sidebar {
  position: fixed;
  top: 39px;
}

#social-sidebar {
  list-style: none;
  position: fixed;
  height: calc(100% - 39px);
  background: #dadcde;
  box-shadow: inset -2px 0 4px -1px rgba(0, 0, 0, 0.2);
  width: 40px;
  top: 39px;
  padding-top: 120px;
  margin: 0 auto;
  left: calc(50% - 475px - 40px);
}
#social-sidebar ul {
  list-style: none;
  padding-left: 0;
}
#social-sidebar ul li {
  text-align: center;
  padding: 11px 0;
  border-top: 1px solid #bdbdbd;
  cursor: pointer;
}
#social-sidebar ul li:hover {
  background-color: #E8E8E8;
}
#social-sidebar ul li:last-child {
  border-bottom: 1px solid #bdbdbd;
}
#social-sidebar ul li img {
  height: 18px;
}
#social-sidebar ul.print {
  height: 100%;
  bottom: 0;
}
#social-sidebar ul.print .space {
  height: calc(100% - 300px);
  border-top: 0px solid #bdbdbd;
}
#social-sidebar ul.print .space:hover {
  background-color: #dadcde;
  cursor: auto;
}

/****************************
 * Article Styles
 * ****************************/
article {
  background: #fafafa;
  margin: 0 auto;
  position: relative;
  top: 120px;
  width: 950px;
  padding: 20px 30px 30px 30px;
  font-family: Arial, sans-serif;
}

/****************************
 * Article Header
 * ****************************/
#article-header {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0px;
}
#article-header #headline {
  font-size: 32px;
  line-height: 34px;
  color: #333;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
#article-header #publish-data {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin: 20px 0 23px 0;
  padding: 10px;
}
#article-header #publish-data #author {
  display: inline;
  color: #1a95d2;
  font-weight: bold;
  cursor: pointer;
}
#article-header #publish-data #article-org {
  display: inline;
  font-weight: bold;
  padding-right: 20px;
}
#article-header #publish-data #pub-date {
  display: inline;
  color: #999999;
}
#article-header #publish-data #updated-date {
  display: inline;
  font-weight: bold;
  color: #999999;
}

/****************************
 * Article Social Icons
 * ****************************/
#article-social {
  display: inline;
  list-style: none;
  text-align: left;
}
#article-social li {
  display: inline-block;
  border-right: 1px solid #d6d6d6;
  height: 28px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  color: #999;
  font-size: 8px;
  font-weight: bold;
  cursor: pointer;
}
#article-social li:last-child {
  border-right: 0px solid #d6d6d6;
}
#article-social li:hover {
  color: #000;
}
#article-social li.facebook:hover {
  color: #4863A8;
}
#article-social li.twitter:hover {
  color: #1EB1E8;
}
#article-social li.linkedin:hover {
  color: #5B83BB;
}
#article-social li img {
  display: block;
  margin: 0 auto;
  width: 17px;
  height: auto;
  position: relative;
  vertical-align: middle;
  top: -2px;
}

#article-social.bottom ul {
  padding-left: 0;
  margin-top: 50px;
}

/****************************
 * Article Content
 * ****************************/
#article-image {
  width: 180px;
  display: inline-block;
  float: left;
  margin: 0 30px 0 0;
}
#article-image img {
  width: 180px;
  height: auto;
  background: #fff;
  box-shadow: 1px 1px 5px #c8c8c8;
  padding: 3px;
}
#article-image p {
  font-size: 11px;
  font-style: italic;
  line-height: 16px;
  color: #646464;
  padding-top: 6px;
}

#article-text {
  font: 14px/22px arial, sans-serif;
  display: inline;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #333;
}

/*# sourceMappingURL=styles.css.map */
